<!DOCTYPE html>
<html lang="en">

<head>
    <link
        rel="preconnect"
        href="https://fonts.googleapis.com"
    />
    <link
        rel="preconnect"
        href="https://fonts.gstatic.com"
        crossorigin
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
        rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta
        http-equiv="X-UA-Compatible"
        content="IE=edge"
    />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    />
    <title>ToDo-App V3</title>
    <link
        rel="stylesheet"
        href="style.css"
    />
</head>

<body>
    <header>
        <h1>ToDo App</h1>
    </header>
    <main id="app">
        {{$data}}
        <div id="uiContainer">
            <div id="filterContainer">
                <p>Show: </p>
                <label for="All">All</label>
                <input
                    @change="currentFilter = 'All'"
                    type="radio"
                    id="All"
                    name="filter"
                    checked
                >
                <label for="Open">Open</label>
                <input
                    @change="currentFilter = 'Open'"
                    type="radio"
                    id="Open"
                    name="filter"
                >
                <label for="Done">Done</label>
                <input
                    @change="currentFilter = 'Done'"
                    type="radio"
                    id="Done"
                    name="filter"
                >

            </div>
            <div class="inputContainer">
                <input
                    v-model="newTodoText"
                    @keydown.enter="newTodo"
                    type="text"
                    id="toDoInput"
                    name="description"
                    placeholder="Please type in your task"
                >
                <button @click="newTodo">Add
                    to-do</button>
            </div>
        </div>
        <article id="toDoListContainer">
            <ul id="toDoList">
                <li
                    v-for="todo in filteredTodoList"
                    :key="todo.id"
                >
                    <label for="">{{ todo.description }}</label>
                    <input
                        @change="changeDone(todo)"
                        type="checkbox"
                        :id=todo.id
                        :checked=todo.done
                    >
                </li>
            </ul>
        </article>
        <button
            id="delBtn"
            @click="deleteDone"
        >Delete done!</button>
    </main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
</body>

</html>